[version]
date = 2022-08-01 00:00:00
number = 0.0.1
name = 
description = 
note = 
author = 


[main]
enabled = True
type = config #config/content/service/software/wizard
execute = app_config_factory_restore,reticulum_save
#require = 
#require_acknowledge = True
require_reboot = True
#require_reload = True
#require_mode = #basic/advanced/expert
#require_service = 
require_software = reticulum
#require_system = 
#require_user = 
#cmd = 
#cmd_before = 
#cmd_after = 
#script = 
#script_before = 
#script_after = 


[global]
page = Settings Software\Reticulum
page-de = Einstellungen Software\Reticulum
page_icon = fas fa-gears


[files]
reticulum = /root/.reticulum/config
rnsd.service = /etc/systemd/system/rnsd.service


[files_type]
reticulum = ini_edit #auto/text = Source -> Destination (Replace)  |  auto/env/ini/json/keyagr/keyval/toml/xml/yaml/raw = Source -> Destination (Edit)  |  auto/env/ini/json/keyagr/keyval/toml/xml/yaml/raw_edit = Destination -> Destination (Edit)  |  log/log_file/log_cmd = Read log


[files_permission]
#reticulum = 0644


[files_owner]
#reticulum = root:root


#### Elements/Variables ####


#### Tab ####


[reticulum_tab]
tab_icon = fas fa-circle-nodes
type = none


[reticulum_general_group]
tab_get = sys_interface_serial,sys_interface_snd,sys_interface_cat
type = card
name = Experte
state = False

[reticulum_service]
value = True
#value_regex_search = 
#value_regex_replace = 
#value_regex_match = 
value_cmd_true = systemctl enable rnsd
value_cmd_false = systemctl disable rnsd
type = checkboxslider
name = Service / Autostart

[reticulum_enable_transport]
file = reticulum\reticulum\enable_transport
value = True
#value_regex_search = 
#value_regex_replace = 
#value_regex_match = 
type = checkboxslider
name = Transport node
name-de = Transport Node

[reticulum_loglevel]
file = reticulum\logging\loglevel
value = 4
#value_regex_search = 
#value_regex_replace = 
#value_regex_match = 
type = select
name = Log level
name-de = Log Level
values = 0: Log only critical information;1: Log errors and lower log levels;2: Log warnings and lower log levels;3: Log notices and lower log levels;4: Log info and lower (this is the default);5: Verbose logging;6: Debug logging;7: Extreme logging
values-de = 0: Nur kritische Informationen protokollieren;1: Fehler und niedrigere Protokollierungsstufen protokollieren;2: Warnungen und niedrigere Protokollierungsstufen protokollieren;3: Hinweise und niedrigere Protokollierungsstufen protokollieren;4: Info und niedrigere Protokollierungsstufen protokollieren (dies ist der Standard);5: Ausführliche Protokollierung;6: Debug-Protokollierung;7: Extreme Protokollierung


[reticulum_interface_enabled_group]
type = card
name = Interfaces
name-de = Schnittstellen

[reticulum_interface_enabled]
file = reticulum\interfaces\*\enabled
value = True
#value_regex_search = 
#value_regex_replace = 
#value_regex_match = 
type = checkboxslider
name = *


[reticulum_interface_port_group]
type = card
name = Interfaces - Ports
name-de = Schnittstellen - Anschlüsse
state = True

[reticulum_interface_port]
file = reticulum\interfaces\*\port
value = /dev/ttyACM0
#value_regex_search = 
#value_regex_replace = 
#value_regex_match = 
type = select
name = *
value_data = sys_interface_serial
value_data_mode = string
value_data_update = True

[reticulum_interface_port_reload]
type = button
label = 
content = Reload interfaces
content-de = Schnittstellen aktualisieren
content_icon = fas fa-arrows-rotate
get = sys_interface_serial,sys_interface_snd,sys_interface_cat


[reticulum_interface_userdefined_group]
type = card
name = Interfaces - Userdefined
name-de = Schnittstellen - Benutzerdefiniert
state = False

[reticulum_interface_userdefined]
file = reticulum
value = 
#value_regex_search = 
#value_regex_replace = 
#value_regex_match = 
type = textarea
name = 
style = height:200px


[reticulum_log_group]
require_mode = expert
type = card
name = Log
name-de = Log
state = False

[reticulum_log_reload]
require_mode = expert
type = button
label = 
content = View/Reload
content-de = Anzeigen/Aktualisieren
content_icon = fas fa-arrows-rotate
get = reticulum_log

[reticulum_log_delete]
require_mode = expert
type = button
label = 
content = Delete
content-de = Löschen
content_icon = fas fa-trash-can
data_get_cmd = rm /root/.reticulum/logfile
get = reticulum_log_delete,reticulum_log

[reticulum_log]
require_mode = expert
type = value_html
data_get_cmd = rnstatus
data_get_file = /root/.reticulum/logfile


#### Save ####


[reticulum_save_group]
type = card_end

[reticulum_save]
value = True
#value_regex_search = 
#value_regex_replace = 
#value_regex_match = 
type = submit_confirm
label = 
message = Do you want to save the changes?
message-de = Möchten Sie die Änderungen speichern?
content = Save
content-de = Speichern
content_icon = fas fa-floppy-disk